<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="DataContexts" type="System.Configuration.AppSettingsSection" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="cissaEntities" connectionString="metadata=~\Model\Data\DataModel.csdl|~\Model\Data\DataModel.ssdl|~\Model\Data\DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=195.38.189.100;Initial Catalog=asist_db;Password=QQQwww123;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Max Pool Size=500;Connect Timeout=120&quot;" providerName="System.Data.EntityClient" />
    <!-- <add name="cissaEntities" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=asist_db;Password=QQQwww123;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Max Pool Size=500;Connect Timeout=120&quot;" providerName="System.Data.EntityClient" /> -->
    <!--<add name="cissaEntities" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=195.38.189.100;Initial Catalog=asist_db;Password=QQQwww123;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Max Pool Size=500;Connect Timeout=120&quot;" providerName="System.Data.EntityClient" /> -->
    <!-- <add name="cissaEntities" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=212.112.106.134;Initial Catalog=cissa-with-children;Password=QQQwww123;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Max Pool Size=500;Connect Timeout=120&quot;" providerName="System.Data.EntityClient" /> -->
    <!--    <add name="cissaEntities" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=cissa-2012;Integrated Security=True;MultipleActiveResultSets=True;Max Pool Size=500;Connect Timeout=120&quot;" providerName="System.Data.EntityClient" /> -->
    <!--    <add name="cacheDb" connectionString="Url=http://server:8088;Database=cissa" /> -->
    <add name="asistMeta" connectionString="Data Source=195.38.189.100;Initial Catalog=asist_db;Password=QQQwww123;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="cissaMeta" connectionString="Data Source=195.38.189.100;Initial Catalog=cissa-with-children;Password=QQQwww123;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="asistMetaLocal" connectionString="Data Source=localhost;Initial Catalog=asist_db;Password=QQQwww123;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="data" connectionString="Data Source=localhost;Initial Catalog=asist_db;Password=QQQwww123;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <DataContexts>
    <!--    <add key="asistMeta" value="Meta,Account"/>
    <add key="cissaMeta" value="Meta,Account"/> -->
    <add key="asistMetaLocal" value="Meta,Account"/>
    <add key="data" value="Document"/>
  </DataContexts>
</configuration>