<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false"/>
    </sectionGroup> -->
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" batch="false" targetFramework="4.5" />
    <httpRuntime />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <!--        <add namespace="System.Web.Optimization"/> -->
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
<!--    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
<!--	<remove name="asset" />
	<add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />-->
	</handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly> 
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultEndPointBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUserManager" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Mtom">
          <readerQuotas maxDepth="32000" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
          <reliableSession ordered="true" inactivityTimeout="00:19:00" enabled="false" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPresentationManager" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Mtom">
          <readerQuotas maxDepth="32000" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
          <reliableSession ordered="true" inactivityTimeout="00:19:00" enabled="false" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDocManager" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Mtom">
          <readerQuotas maxDepth="32000" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
          <reliableSession ordered="true" inactivityTimeout="00:19:00" enabled="false" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IWorkflowManager" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Mtom">
          <readerQuotas maxDepth="32000" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
          <reliableSession ordered="true" inactivityTimeout="00:19:00" enabled="false" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IReportManager" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Mtom">
          <readerQuotas maxDepth="32000" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
          <reliableSession ordered="true" inactivityTimeout="00:19:00" enabled="false" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IQueryManager" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Mtom">
          <readerQuotas maxDepth="32000" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
          <reliableSession ordered="true" inactivityTimeout="00:19:00" enabled="false" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1296/BizService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserManager" contract="ServiceReference.IUserManager" name="WSHttpBinding_IUserManager">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtpTTuKiTd3iSUZpzs/P3AJfwKnogAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJbG9jYWxob3N0MB4XDTExMDEyMDA2MDEzNloXDTM5MTIzMTIzNTk1OVowFDESMBAGA1UEAxMJbG9jYWxob3N0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDtMilEeDW6UL2Vx6KaA+AqwfktKtVHmkxhevC5FN9CdCo/8WybdUSu7JQFRObTH3W51z/FVWlnOQ1kvN5+7wy7nw7oIHsPwdITRhFOnfooI1dwK1qLbGI6kMfI+eEzYijnoPddb7dzt3s1CcjwiP363dH3X/JsDc4D8f+3gNQZ3wIDAQABo0kwRzBFBgNVHQEEPjA8gBCRHywdDKQrxUGao9//OiURoRYwFDESMBAGA1UEAxMJbG9jYWxob3N0ghDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQADgYEAuKLPpw3vVP/bc23pvteyuJ+Iltc/MvwFZ5QS/8QN+4sxVJx/WAGudZotIy5RXriDXM0HgqLwnyT6rV1YIsFnPTAleSMpAOQ2rKVg3gZ8Rl10oTsnaY/Cn+gROY4zkOrNtTbA67Y0YFbIgwTjbeYJEG5Y/ljoNfy3XAofdaNzcyI=" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1296/BizService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPresentationManager" contract="ServiceReference.IPresentationManager" name="WSHttpBinding_IPresentationManager">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtpTTuKiTd3iSUZpzs/P3AJfwKnogAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJbG9jYWxob3N0MB4XDTExMDEyMDA2MDEzNloXDTM5MTIzMTIzNTk1OVowFDESMBAGA1UEAxMJbG9jYWxob3N0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDtMilEeDW6UL2Vx6KaA+AqwfktKtVHmkxhevC5FN9CdCo/8WybdUSu7JQFRObTH3W51z/FVWlnOQ1kvN5+7wy7nw7oIHsPwdITRhFOnfooI1dwK1qLbGI6kMfI+eEzYijnoPddb7dzt3s1CcjwiP363dH3X/JsDc4D8f+3gNQZ3wIDAQABo0kwRzBFBgNVHQEEPjA8gBCRHywdDKQrxUGao9//OiURoRYwFDESMBAGA1UEAxMJbG9jYWxob3N0ghDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQADgYEAuKLPpw3vVP/bc23pvteyuJ+Iltc/MvwFZ5QS/8QN+4sxVJx/WAGudZotIy5RXriDXM0HgqLwnyT6rV1YIsFnPTAleSMpAOQ2rKVg3gZ8Rl10oTsnaY/Cn+gROY4zkOrNtTbA67Y0YFbIgwTjbeYJEG5Y/ljoNfy3XAofdaNzcyI=" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1296/BizService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocManager" contract="ServiceReference.IDocManager" name="WSHttpBinding_IDocManager">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtpTTuKiTd3iSUZpzs/P3AJfwKnogAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJbG9jYWxob3N0MB4XDTExMDEyMDA2MDEzNloXDTM5MTIzMTIzNTk1OVowFDESMBAGA1UEAxMJbG9jYWxob3N0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDtMilEeDW6UL2Vx6KaA+AqwfktKtVHmkxhevC5FN9CdCo/8WybdUSu7JQFRObTH3W51z/FVWlnOQ1kvN5+7wy7nw7oIHsPwdITRhFOnfooI1dwK1qLbGI6kMfI+eEzYijnoPddb7dzt3s1CcjwiP363dH3X/JsDc4D8f+3gNQZ3wIDAQABo0kwRzBFBgNVHQEEPjA8gBCRHywdDKQrxUGao9//OiURoRYwFDESMBAGA1UEAxMJbG9jYWxob3N0ghDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQADgYEAuKLPpw3vVP/bc23pvteyuJ+Iltc/MvwFZ5QS/8QN+4sxVJx/WAGudZotIy5RXriDXM0HgqLwnyT6rV1YIsFnPTAleSMpAOQ2rKVg3gZ8Rl10oTsnaY/Cn+gROY4zkOrNtTbA67Y0YFbIgwTjbeYJEG5Y/ljoNfy3XAofdaNzcyI=" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1296/BizService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWorkflowManager" contract="ServiceReference.IWorkflowManager" name="WSHttpBinding_IWorkflowManager">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtpTTuKiTd3iSUZpzs/P3AJfwKnogAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJbG9jYWxob3N0MB4XDTExMDEyMDA2MDEzNloXDTM5MTIzMTIzNTk1OVowFDESMBAGA1UEAxMJbG9jYWxob3N0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDtMilEeDW6UL2Vx6KaA+AqwfktKtVHmkxhevC5FN9CdCo/8WybdUSu7JQFRObTH3W51z/FVWlnOQ1kvN5+7wy7nw7oIHsPwdITRhFOnfooI1dwK1qLbGI6kMfI+eEzYijnoPddb7dzt3s1CcjwiP363dH3X/JsDc4D8f+3gNQZ3wIDAQABo0kwRzBFBgNVHQEEPjA8gBCRHywdDKQrxUGao9//OiURoRYwFDESMBAGA1UEAxMJbG9jYWxob3N0ghDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQADgYEAuKLPpw3vVP/bc23pvteyuJ+Iltc/MvwFZ5QS/8QN+4sxVJx/WAGudZotIy5RXriDXM0HgqLwnyT6rV1YIsFnPTAleSMpAOQ2rKVg3gZ8Rl10oTsnaY/Cn+gROY4zkOrNtTbA67Y0YFbIgwTjbeYJEG5Y/ljoNfy3XAofdaNzcyI=" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1296/BizService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReportManager" contract="ServiceReference.IReportManager" name="WSHttpBinding_IReportManager">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtpTTuKiTd3iSUZpzs/P3AJfwKnogAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJbG9jYWxob3N0MB4XDTExMDEyMDA2MDEzNloXDTM5MTIzMTIzNTk1OVowFDESMBAGA1UEAxMJbG9jYWxob3N0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDtMilEeDW6UL2Vx6KaA+AqwfktKtVHmkxhevC5FN9CdCo/8WybdUSu7JQFRObTH3W51z/FVWlnOQ1kvN5+7wy7nw7oIHsPwdITRhFOnfooI1dwK1qLbGI6kMfI+eEzYijnoPddb7dzt3s1CcjwiP363dH3X/JsDc4D8f+3gNQZ3wIDAQABo0kwRzBFBgNVHQEEPjA8gBCRHywdDKQrxUGao9//OiURoRYwFDESMBAGA1UEAxMJbG9jYWxob3N0ghDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQADgYEAuKLPpw3vVP/bc23pvteyuJ+Iltc/MvwFZ5QS/8QN+4sxVJx/WAGudZotIy5RXriDXM0HgqLwnyT6rV1YIsFnPTAleSMpAOQ2rKVg3gZ8Rl10oTsnaY/Cn+gROY4zkOrNtTbA67Y0YFbIgwTjbeYJEG5Y/ljoNfy3XAofdaNzcyI=" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1296/BizService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQueryManager" contract="ServiceReference.IQueryManager" name="WSHttpBinding_IQueryManager">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtpTTuKiTd3iSUZpzs/P3AJfwKnogAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJbG9jYWxob3N0MB4XDTExMDEyMDA2MDEzNloXDTM5MTIzMTIzNTk1OVowFDESMBAGA1UEAxMJbG9jYWxob3N0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDtMilEeDW6UL2Vx6KaA+AqwfktKtVHmkxhevC5FN9CdCo/8WybdUSu7JQFRObTH3W51z/FVWlnOQ1kvN5+7wy7nw7oIHsPwdITRhFOnfooI1dwK1qLbGI6kMfI+eEzYijnoPddb7dzt3s1CcjwiP363dH3X/JsDc4D8f+3gNQZ3wIDAQABo0kwRzBFBgNVHQEEPjA8gBCRHywdDKQrxUGao9//OiURoRYwFDESMBAGA1UEAxMJbG9jYWxob3N0ghDsQ5PGxchdqk7kHEk520a6MAkGBSsOAwIdBQADgYEAuKLPpw3vVP/bc23pvteyuJ+Iltc/MvwFZ5QS/8QN+4sxVJx/WAGudZotIy5RXriDXM0HgqLwnyT6rV1YIsFnPTAleSMpAOQ2rKVg3gZ8Rl10oTsnaY/Cn+gROY4zkOrNtTbA67Y0YFbIgwTjbeYJEG5Y/ljoNfy3XAofdaNzcyI=" />
        </identity>
      </endpoint>
    </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="-1" />
    </diagnostics>
  </system.serviceModel>
  <!-- <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false"/>
  </telerik>-->
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Collections" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>
