<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
   <service behaviorConfiguration="mex" name="TestService.service1">
    <endpoint address="http://localhost:8081/TestService" binding="wsHttpBinding"
     contract="TestServiceInterface.IService1" />
   </service>
   <service behaviorConfiguration="mex2" name="TestService.Service2">
    <endpoint address="http://localhost:8082/TestService2" binding="wsHttpBinding"
     contract="TestServiceInterface.IService2" />
   </service>
  </services>
		<behaviors>
   <serviceBehaviors>
    <behavior name="mex">
     <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8081/TestService/mex" />
     <serviceCredentials>
      <userNameAuthentication cachedLogonTokenLifetime="00:00:20" />
     </serviceCredentials>
    </behavior>
    <behavior name="mex2">
     <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8082/TestService/mex" />
        <serviceCredentials>
            <userNameAuthentication cachedLogonTokenLifetime="00:00:20" />
        </serviceCredentials>
    </behavior>
   </serviceBehaviors>
  </behaviors>
	</system.serviceModel>
</configuration>