@{
    ViewBag.Title = @Resources.Account.About;
}

<div class="art-post-inner">
    <h2 class="art-postheader">@Resources.Account.About</h2>
    <div class="art-postcontent">
        <p>
             
        </p>
    </div>
    <div class="cleared"></div>
</div>